snippet bef "beforeEach block"
beforeEach ->$0
endsnippet

snippet dbg "console.debug"
console.debug($0)
endsnippet

snippet dsc "describe block"
describe '$1', ->$0
endsnippet

snippet exp "Expectation"
expect($1).$0
endsnippet

snippet fixl "fixture.load"
fixture.load('$1')
endsnippet

snippet fixp "fixture.preload"
fixture.preload('$1')
endsnippet

snippet it "it block"
it '$1', ->$0
endsnippet
