snippet cnt "context block"
context '$1' do
  $0
end
endsnippet

snippet dsc "describe block"
describe '$1' do
  $0
end
endsnippet

snippet it "it block"
it '$1' do
  $0
end
endsnippet

snippet ss "save_and_open_screenshot"
save_and_open_screenshot
endsnippet
